
/DumbassCPU.cache
/DumbassCPU.ip_user_files
/DumbassCPU.hw
/DumbassCPU.sim
vivado.log
vivado.jou
/DumbassCPU.runs
vivado_1232.backup.log
vivado_1232.backup.jou
/DumbassCPU.srcs/utils_1
/CPULite.cache
/CPULite.runs
/CPULite.sim
/CPULite.hw
/CPULite.ip_user_files
